<h3>Satellite Counts:</h3>
<div class="counts">
  <div>
    Total: <span>{{ satellites.length }}</span>
  </div>
  <div>
    Space Debris:<span>{{ typeCounter("Space Debris") }}</span>
  </div>
  <div>
    Communication: <span>{{ typeCounter("Communication") }}</span>
  </div>
  <div>
    Probe: <span>{{ typeCounter("Probe") }}</span>
  </div>
  <div>
    Positioning: <span>{{ typeCounter("Positioning") }}</span>
  </div>
  <div>
    Space Station: <span>{{ typeCounter("Space Station") }}</span>
  </div>
  <div>
    Telescope: <span>{{ typeCounter("Telescope") }}</span>
  </div>
</div>
