.sortable {
  cursor: pointer;
  color: #dd5;
}

.warning {
  background-color: crimson;
}

table {
  color: black;
  text-shadow: 2px 4px 5px darkslategray;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: cadetblue;
}

.header-row {
  background: #34495e;
  color: #fff;
  text-shadow: 0px 0px black;
}

th,
td {
  text-align: left;
  margin: 5px 10px;
  padding: 6px;
}
