.sortable {
  cursor: pointer;
  color: #dd5;
}

.warning {
  color: darkgoldenrod;
  border: darkgoldenrod solid 1px;
  background-color: darkred;
}

table {
  color: black;
  text-shadow: 2px 4px 5px darkslategray;
  border-radius: 5px;
  border: solid 8px darkslategray;
  overflow: hidden;
  width: 100%;
  background: cadetblue;
  padding: 0.5%;
}

tr:nth-child(even) {
  color: cyan;
  text-shadow: 2px 4px 5px darkcyan;
  background-color: darkslategray;
}

.header-row {
  background: #34495e;
  color: #fff;
}

th,
td {
  text-align: left;
  margin: 5px 10px;
  padding: 6px;
}
